.title {
    color: #AC5655;
    font-family: 'Urbanist', sans-serif;
  }
  
  .button {
    background-color: #FF9F0A;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }

  .p {
    font-family: 'Urbanist', sans-serif;
  }
  